{% extends "www/bases/base.html" %}
{% load compress static unicorn %}

{% block content %}

<section class="container">

    <div class="column is-8 is-offset-2 pt-6 pb-6">
        <div>
            <h2 class="title"><code>strftime</code></h2>

            {% unicorn 'strftime' %}
        </div>
    </div>

    <div class="column is-8 is-offset-2 pt-6 pb-6">
        <div class="pt-6">
            <h2 class="title"><code>string format</code></h2>

            {% unicorn 'string-format' %}
        </div>
    </div>

    <div class="column is-8 is-offset-2 pt-6">
        <div class="level pt-6">
            <div class="level-item has-text-centered">
                <a href="https://www.django-unicorn.com">
                    <img src="{% static 'img/unicorn.svg' %}" height="80" width="80" />
                </a>
            </div>
        </div>
        <div class="level">
            <div class="notification is-link">
                <p>
                    <a href="/">python-utils.com</a> is built with <a href="https://www.django-unicorn.com"><code>Unicorn</code></a>, a reactive component framework for Django.
                </p>
                <p class="mt-5 has-text-centered">
                    <a href="https://www.django-unicorn.com/docs/" class="button is-primary">Read Unicorn Documentation</a>
                </p>
            </div>
        </div>
    </div>
</section>

{% endblock content %}