{% extends "www/bases/base.html" %}
{% load compress static unicorn %}

{% block content %}

<section class="container">

    <div class="column is-8 is-offset-2 mt-6 mb-6">
        <div>
            <h2 class="title"><code>strftime</code> directives</h2>

            {% unicorn 'strftime' %}
        </div>
    </div>

    <div class="column is-8 is-offset-2 mt-6">
        <div class="level mt-6">
            <div class="level-item has-text-centered">
                <a href="https://www.django-unicorn.com">
                    <img src="{% static 'img/unicorn-mono.svg' %}" height="80" width="80" />
                </a>
            </div>
        </div>
        <div class="level">
            <div class="notification is-link">
                <p>
                    <a href="/">python-utils.com</a> is built with <a href="https://www.django-unicorn.com"><code>Unicorn</code></a>, a reactive component framework that progressively enhances a normal Django view, makes AJAX calls in the background, and dynamically updates the DOM. It seamlessly extends Django past its server-side framework roots without giving up all of its niceties or re-building your website.
                </p>
                <p class="mt-2 has-text-centered">
                    <a href="https://www.django-unicorn.com/docs/">Documentation</a> | <a href="https://www.django-unicorn.com/screencasts">Screencasts</a> | <a href="https://www.django-unicorn.com/examples">Examples</a>
                </p>
            </div>
        </div>
    </div>
</section>

{% endblock content %}