<div>
  <style>
    span.result {
      background-color: #FFDF00;
    }
  </style>

  <div class="field has-addons mt-4">
    <div class="control" style="width: 100%;">
      <input class="input is-large" style="z-index: -1;" type="text" unicorn:model="datetime" disabled>
    </div>
    <div class="control">
      <button class="button is-link is-large" type="submit" unicorn:click="set_now">now()</button>
    </div>
  </div>

  <div class="field has-addons mt-4">
    <div class="control" style="width: 100%;">
      <input class="input is-large" type="text" unicorn:model="format" placeholder="Directive code"></input>
    </div>
    <div class="control">
      <button class="button is-link is-large" type="submit" unicorn:click="format_datetime">Re-format</button>
    </div>
    <div class="control">
      <button class="button is-danger is-outlined is-large" type="submit" unicorn:click="clear_format">Clear</button>
    </div>
    
  </div>

  <div class="mt-1">
    <div class="field is-horizontal">
      <div class="field-label is-normal">
        <label class="label" for="directives">Directives</label>
      </div>
      <div class="field-body">
        <div class="field">
          <p class="control">
            <input class="input" id="directives" type="text" unicorn:model="directive_search" placeholder="Search directives" />
          </p>
        </div>
        <!-- <div class="field is-narrow">
          <div class="control">
            <label class="checkbox" style="margin-top: .375rem">
              <input type="checkbox" name="python36" unicorn:model="exclude_36">
              Exclude 3.6+
            </label>
          </div>
        </div> -->
      </div>
    </div>

    {% for directive in directives %}
    <a href="#" unicorn:click.prevent="add_directive('{{ directive.code }}')">
      <span class="tag is-light has-tooltip-arrow has-tooltip-multiline" data-tooltip="{{ directive.meaning }}" style="margin-bottom: 3px;">{{ directive.code }}</span>
    </a>
    {% endfor %}
  </div>

  <div class="level mt-5">
    <div class="level-item has-text-centered">
      <div>
        <p class="heading">Result</p>
        <p class="title">{{ result|default:"n/a" }}</p>
      </div>
    </div>
  </div>
</div>
