<div>
  <style>
    span.space {
      margin-left: 2px;
      margin-right: 2px;
      padding-left: 8px;
      padding-right: 8px;
      background-color: #6c6c6c;
    }
  </style>

  <h3 class="title is-5" style="margin-bottom: .5rem;">Strings</h3>
  {% for format in formats %}
  <a href="#" unicorn:click.prevent="add_format('{{ format.format }}')">
    <span class="tag is-link has-tooltip-arrow" data-tooltip="{{ format.meaning }}" style="margin-bottom: 3px;">{{ format.format }}</span>
  </a>
  {% endfor %}

  <div class="field has-addons mt-4">
    <div class="control" style="width: 100%;">
      <input class="input is-large" type="text" unicorn:model="format" placeholder="Format"></input>
    </div>
    <div class="control">
      <button class="button is-danger is-outlined is-large" type="submit" unicorn:click="clear_format">Clear</button>
    </div>
  </div>

  <div class="field has-addons mt-4">
    <div class="control" style="width: 100%;">
      <input class="input is-large" type="text" unicorn:model="text" placeholder="Text string">
    </div>
    <div class="control">
      <button class="button is-danger is-outlined is-large" type="submit" unicorn:click="clear_text">Clear</button>
    </div>
  </div>

  <div class="level mt-5">
    <div class="level-item has-text-centered">
      <div>
        <p class="heading">Result</p>
        {% if result %}
        <p class="title" style="padding: .5rem; background-color: #FFDF00;">{{ result|default:"n/a" }}</p>
        {% else %}
        <p class="title">n/a</p>
        {% endif %}
      </div>
    </div>
  </div>
</div>